.todo-item {
  display: flex;
  max-width: 600px;
  text-align: left;
  align-items: center;
  margin-bottom: 28px;
  input {
    width: 24px;
    height: 24px;
    margin: 0px 7px 0px 0px;
    border: 1px solid #828282;
    border-radius: 4px;
  }
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  .todo-completed{
    text-decoration: line-through;
  }
}
